
        body {
        /*background-image: url("C:\\Users\\a\\OneDrive - Ashesi University\\Sports Prediction\\venv\\fifa_background.jpg");*/
        background: linear-gradient(to right, #2a0d72, #b889ff, #2a0d72);
        background-size: cover; 
        background-repeat: no-repeat;
        background-position: center;
        font-family: Tahoma, sans-serif;
        color: white; 
    }

        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            margin: 0;
        }

        header{
            color: #fff;
            text-align: center;
            padding: 1rem 0;
        }

        footer {
            color: #333;
            text-align: center;
            padding: 1rem 0;
        }


        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%; /* Set the width to 80% of the viewport width */
            height: 3000px; /* Set the height to 400 pixels */
            margin: 0 auto; /* Center the container horizontally */
            padding-bottom: 10px;
        }

        .box {
            width: 5000px;
            padding: 1px;
            border: 1px solid #333;
            text-align: center;
        }

        .box h2 {
            margin-bottom: 20px;
        }

        .input-group {
            margin-bottom: 10px;
        }

        .input-group {
        margin-bottom: 10px;
        display: inline-block;
        width: 45%; /* Set the width of each column */
        box-sizing: border-box; /* Include padding and border in the width */
        margin-right: 5%; /* Add some space between columns */
    }

   
    .input-group:nth-child(2n) {
        margin-right: 0;
    }
        input {
            width: calc(100% - 20px);
            padding: 10px;
            margin-top: 5px;
        }

        button {
            background-color: #7300ff;
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
        }

        body, input, button {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
    }

    .logo {
    position: absolute;
    top: 0;
    height: 100px; /* Set the height of your logos */
    }

    .left-logo {
        left: 0;
    }

    .right-logo {
        right: 0;
    }
