<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Model</title>
    <link rel="stylesheet" href="C:\\Users\\a\\OneDrive - Ashesi University\\Sports Prediction\\venv\\static\\main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo1.png') }}" alt="Left Logo" class="logo left-logo">
        <h1>FIFA Rating Predictor</h1>
        <img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Right Logo" class="logo right-logo">
    </header>
    <div class="container">
        <div class="box">
            <h2>Player Stats</h2>
            <form action="{{url_for('predict')}}" method="post">
                <div class="input-group">
                    <label for="potential">Player Potential:</label>
                    <input type="number" id="potential" name="potential" placeholder="Enter Player Potential">
                </div>
                <div class="input-group">
                    <label for="age">Player Age:</label>
                    <input type="number" id="age" name="age" placeholder="Enter Player Age">
                </div>

                <div class="input-group">
                    <label for="passing">Rate Player's Passing:</label>
                    <input type="number" id="passing" name="passing" placeholder="Rate Player's Passing">
                </div>

                <div class="input-group">
                    <label for="dribbling">Enter Player Dribbling Rating:</label>
                    <input type="number" id="dribbling" name="dribbling" placeholder="Enter Player Dribbling Rating">
                </div>
                
                <div class="input-group">
                    <label for="defending">Rate Player's Defending:</label>
                    <input type="number" id="defending" name="defending" placeholder="Rate player's defending">
                </div>
                
                <div class="input-group">
                    <label for="physic">Rate player's physicality:</label>
                    <input type="number" id="physic" name="physic" placeholder="Rate player's physicality">
                </div>

                <div class="input-group">
                    <label for="attacking_crossing">Rate Player's Crossing:</label>
                    <input type="number" id="attacking_crossing" name="attacking_crossing" placeholder="Rate Player's Crossing">
                </div>
                
                <div class="input-group">
                    <label for="attacking_short_passing">Enter Player Short Passing:</label>
                    <input type="number" id="attacking_short_passing" name="attacking_short_passing" placeholder="Rate Player's Short Passing">
                </div>

                <div class="input-group">
                    <label for="movement_reactions">Enter Player Reactions:</label>
                    <input type="number" id="movement_reactions" name="movement_reactions" placeholder="Rate player's reaction">
                </div>
                
                <div class="input-group">
                    <label for="technical_skills">Rate Player's Technicality (0-100):</label>
                    <input type="number" id="technical_skills" name="technical_skills" placeholder="Rate Player's Technicality (0-100)">
                </div>

                <div class="input-group">
                    <label for="shooting_skills">Enter Player Shooting Rating:</label>
                    <input type="number" id="shooting_skills" name="shooting_skills" placeholder="Enter Player Shooting Rating">
                </div>
                
                <div class="input-group">
                    <label for="mentality">Rate Player's Mentality (0-100):</label>
                    <input type="number" id="mentality" name="mentality" placeholder="Rate Player's Mentality (0-100)">
                </div>
                                
                <div class="input-group">
                    <label for="goalkeeping_ability">Rate Player Goalkeeping Ability (0-100):</label>
                    <input type="number" id="goalkeeping_ability" name="goalkeeping_ability" placeholder="Rate Player Goalkeeping Ability (0-100)">
                </div>
                
                
                <button type="submit">Predict</button>
            </form>
            <h3>{{prediction_text}}</h3>
        </div>
    </div>
    <footer>
        <p>Created by Arnold & Malcolm.</p>
    </footer>
</body>
</html>
